
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 650px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.container {
    background: rgba(255,255, 255, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    width: 500px;
}

h4 {
    text-align: center;
    margin: 0;
}

.input-group {
        display: flex;
        justify-content: center;
        width: 100%;   
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.submit-btn
{
    width: 40%;
    border-radius: 16px;
    font: bold, 16px;
}

button:hover {
    transform: scale(1.02);
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    background-color: #3e8e41;
  }



